body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Bitter", serif;
  background: #222;
  background: url("sunday.png") no-repeat center center fixed;
  background-size: cover;
  font-size: 120%;
  text-align: center;
}

.card {
  padding: 2em;
  border-radius: 15px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  text-align: center;
  background: white;
  color: black;
}

/* search box */
.search {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 45%;
  border: none;
  height: 50px;
  width: 44px;
  outline: none;
  background: #7c7c7c2c;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 100%;
}

/* search box */
input.search-bar {
  border: none;
  outline: none;
  padding: 0.6em 1em;
  border-radius: 28px;
  background: #7c7c7c2c;
  color: black;
  font-family: inherit;
  font-size: 125%;
}

button:hover {
  background: #7c7c7c6d;
  cursor: pointer;
  outline: none;
  color: whitesmoke;
}

h2.city {
  margin: 10;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}

.currentDate {
  display: flex;
  margin: 11px;
  justify-content: center;
}

.temp {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.weatherCondition {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.High {
  width: 50%;
  float: right;
}

.Low {
  width: 50%;
  float: left;
}
